$primary-blue: #413EF4;

$gradient-background: rgb(207,150,221);
// Purple: #cf96dd, Green: #86e4bf, Orange: #e0955f
$background-gradient: linear-gradient(24deg, rgba(207,150,221,1) 0%, rgba(134,228,191,1) 66%, rgba(224,149,95,1) 100%);

$black: #545149;
$white: #f4f1ec;
$light-grey: gainsboro;
$dark-grey: grey;