$primary-blue: #06f;

$black: #545149;
$white: #f4f1ec;
$light-grey: gainsboro;
$dark-grey: grey;
$light-purple: rgb(207,150,221);
$light-green: rgba(134,228,191,1);
$light-orange: rgba(224,149,95,1);

// Purple: #cf96dd, Green: #86e4bf, Orange: #e0955f
$background-gradient: radial-gradient(
    circle at top left,
    $light-purple,
    $light-green, 6%,
    $light-orange, 25%,
    $light-grey 100%
);
